*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div{
  width: 100%;
  height: 100vh;
  background: #badc58;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div{
  width: 35%;
  height: 40vh;
  background: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

h1{
  color: #fff;
  background: #30336b;
  font-size: 50px;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button{
  min-height: 40px;
  border-radius: 5%;
  border-color: transparent;
  background-color: #30336b;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  margin-top: 30px;
  padding: 0.75em;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover{
  background-color: #22a6b3;
  cursor: pointer;
}
.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}